[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.2"
django-rest-framework = "*"
django-oauth-toolkit = "*"
django-extensions = "*"
requests = "*"
pytest = "*"
factory-boy = "*"
pytest-django = "*"
importlib-metadata = "*"
typing-extensions = "*"
httpie = "*"
freezegun = "*"

[dev-packages]

[requires]
python_version = "3.6"
